<div class="column" *ngIf="question.type === 1">
  <h1 class="mat-display-1 header" matTooltip="{{ question.answer | lowercase }}" matTooltipPosition="above">
    {{ question.word | lowercase }}
  </h1>
  <button
    mat-raised-button
    *ngFor="let option of question.options"
    [color]="isRightAnswer(option)"
    [disabled]="isDisabled(option)"
    (click)="sendAnswer(option)"
  >
    {{ option | lowercase }}
  </button>
</div>

<div class="column" *ngIf="question.type === 2">
  <h1 class="mat-display-1 header" matTooltip="{{ question.answer | lowercase }}" matTooltipPosition="above">
    {{ question.word | lowercase }}
  </h1>
  <mat-form-field [color]="getInputFieldColor()">
    <input matInput autofocus [(ngModel)]="inputAnswer" placeholder="Answer" type="text" />
    <mat-hint *ngIf="gotAnswer && !result" class="errorHint">{{ question.answer | lowercase }}</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="gotAnswer || !inputAnswer" (click)="checkInputAnswer(inputAnswer)">
    Send
  </button>
</div>
