/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  position: fixed;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  > .mainwrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.flex-container {
  height: 100%;
  padding: 0 16px;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}


.fab-button {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}