<mat-nav-list *ngIf="wordSets.length">
  <mat-list-item *ngFor="let set of wordSets">
    <a mat-list-item [routerLink]="['test', set.id]"> {{ set.name }} </a>
    <div class="actions">
      <button mat-icon-button [routerLink]="['edit', set.id]"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteWordSet(set)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-list-item>
</mat-nav-list>

<div *ngIf="!wordSets.length && !loading" class="nocontent">
  <div>
    There is no word sets here yet. You can
  </div>
  <button mat-button color="primary" (click)="addWordset()">CREATE ONE</button>
  <div>or</div>
  <button mat-button color="primary" [routerLink]="['public']">COPY PUBLIC SET</button>
</div>

<button mat-fab class="fab-button" (click)="addWordset()"><mat-icon>add</mat-icon></button>
